.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    background: black;
    padding: 1.5em 0;
}

h1 {
    color: white;
    height: 4.8rem;
    line-height: 4.8rem;
}

nav {
    width: 100%;
}

a {
    display: block;

    color: white;
    line-height: 2.5em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5em;
    }

    nav {
        width: initial;
    }

    li {
        display: inline-block;
    }

    li + li {
        margin-left: 1.5em;
    }

    a {
        padding: 0;
        line-height: 4.8rem;
    }
}